.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #22092C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h2,h3{
  color:rgb(0, 136, 255)
}

.container{
min-width: 300px;
  width: 25%;

  display: flex;
  justify-content: center;
  flex-direction: column;
border-radius: 15px;
  background-color: #FFC7C7;
  border: 2 solid black;
}



input{
  width: 65%;
  height:40px ;
  border-radius: 10px;
  border: none;
  padding-left: 15px;
 
}
ul{
  list-style: none;
  text-align: start;
  width: 100%;
  display: flex;
  /* align-items: center; */

  justify-content: center;
  flex-direction: column;

  

}
form{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;

}

button:hover{
  background-color: #AC7D88;
  cursor: pointer;
}
button{
  height:40px ;
  width: 25%;
background-color: #9399FF;
  border-radius: 10px;
  border: none;
  font-size: 25px;
  padding: 5px;
}

li{
  display: flex;
  width: 76%;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  background-color: #FF80B0;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;

}
li:hover{
  background-color: rgb(54, 52, 52);

}


.button:hover{
    color: red;
}
.button{
  cursor: pointer;

}

a{
  text-decoration: none;
  color: white;
  padding-left: 20px;
}